<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.datasource">java:/comp/env/jdbc/postgres-ds</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <mapping class="der.ponto.Batida"/>
        <mapping class="der.ponto.Escala"/>
        <mapping class="der.ponto.Feriado"/>
        <mapping class="der.ponto.Frequencia"/>
        <mapping class="der.ponto.Funcionario"/>
        <mapping class="der.ponto.Grade"/>
        <mapping class="der.ponto.GradeHorario"/>
        <mapping class="der.ponto.Historico"/>
        <mapping class="der.ponto.HorarioEspecial"/>
        <mapping class="der.ponto.Lotacao"/>
        <mapping class="der.ponto.MesProcessado"/>
        <mapping class="der.ponto.Ocorrencia"/>
        <mapping class="der.ponto.StatusOcorrencia"/>
        <mapping class="der.ponto.StatusAguardandoAutorizacao"/>
        <mapping class="der.ponto.StatusAguardandoValidacao"/>
        <mapping class="der.ponto.StatusCancelado"/>
        <mapping class="der.ponto.StatusValidado"/>
        <mapping class="der.ponto.Orgao"/>

        <event type="save-update">
            <listener class="der.auditoria.backBeans.AuditoriaListener"/>
            <listener class="org.hibernate.event.def.DefaultSaveOrUpdateEventListener" />
        </event>

        <event type="delete">
            <listener class="der.ponto.OcorrenciaListener"/>
            <listener class="der.auditoria.backBeans.AuditoriaListener"/>
            <listener class="org.hibernate.event.def.DefaultDeleteEventListener"/>
        </event>
    </session-factory>
</hibernate-configuration>
